* {
    margin: 0;
    padding: 0;  
}

.flex {
    display: flex;
}

body {
    background-color: #f6eee1;
    background-image: url("../assets/images/background.jpg") ;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:bottom;
}

.big-box {
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.header {

    height: 10%;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.text-header {
    font-size: 30px;
}

.coluna-principal {
    height: 50%;
    width: 60vw;
    background-color: violet;
    border-radius: 1%;
    flex-direction: column;
}

.box-topo {
    background-color: tomato;
    height: 10%;
    width: 100%;
}

.box-meio {
    background-color: turquoise;
    height: 90%;
    width: 100%;
    justify-content:space-around ;
}

.box-foto {
    background-color: blue;
    height: 100%;
    width: 30%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box-infos {
    height: 100%;
    width: 70%;
    background-color:crimson;
}

.foto {
    border-radius: 10%;
    border-style: solid;
    border-width: 10px;
    border-color: #faf8df;
}

.catch-phrase {
    margin-top: 5px;
    width: 70%;
    height: 15%;
    background-color: darksalmon;
    border-radius: 10%;
}

.box-infos {
    flex-direction: column;
    
}
